
<!-- Start Clients Area -->
<div class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div
                class="client-logo-carousel d-flex align-items-center justify-content-between">
                <div class="client-logo">
                    <img src="/assets/geojson/1618942017342-58568d4c4f6ae202fedf2721.png" alt="#" width="20">
                </div>
                <div class="client-logo">
                    <img src="/assets/geojson/1618942141106-IDH The Sustainable Trade Initiative Job Vacancy.jpg" alt="#">
                </div>
                <div class="client-logo">
                    <img src="/assets/geojson/1618942176969-giz-avatar.jpeg" alt="#">
                </div>
                <div class="client-logo">
                    <img src="/assets/geojson/1618942412123-1547081092770.jfif" alt="#">
                </div>
                <div class="client-logo">
                    <img src="/assets/geojson/1618982308457-undp-logo-5682674D5C-seeklogo.com.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="/assets/geojson/bentang.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Clients Area -->
   <!-- Start Footer Area -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="download-text">
                            <h3>Informasi Detail </h3>
                            <p>
                                Dapatkan informasi detail progress implementasi PPI Compact <br>kami melalui dashboard dan peta.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="download-button">
                            <div class="button">
                                <a class="btn" href="/indikatorTable/2/Luas%20dan%20laju%20deforestasi%20dan%20degradasi%20menurun"><i class="lni lni-dashboard"></i> Dashboard</a>
                                <a class="btn" href="/map"><i class="lni lni-layers"></i> Peta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="index"><img src="/assets/images/logo/participation.png" alt="Logo"></a>
                            </div>
                            <!-- <p>Start building your creative website with our awesome template Massive.</p> -->
                            <ul class="contact-address">
                                <li><span>Alamat:</span> 555 Wall Street, USA, NY</li>
                                <li><span>Email:</span> example@apus.com</li>
                                <li><span>Handphone:</span> 555-555-1234</li>
                            </ul>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <!-- <li><a href="#"><i class="lni lni-pinterest"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Our Platform</h3>
                                    <ul>
                                        <li><a href="/indikatorTable/2/Luas%20dan%20laju%20deforestasi%20dan%20degradasi%20menurun">Dashboard</a></li>
                                        <li><a href="/peta">Peta</a></li>
                                        <li><a href="/project">Project</a></li>
                                        <!-- <li><a href="#">Jobs Urgent</a></li>
                                        <li><a href="#">Candidate List</a></li>
                                        <li><a href="#">Candidates Grid</a></li> -->
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Navigasi</h3>
                                    <ul>
                                        <li><a href="/">Beranda</a></li>
                                        <li><a href="/about-us">Tentang Kami</a></li>
                                        <li><a href="/contact">Kontak</a></li>
                                        <li><a href="/loi">Letter of Interest</a></li>
                                        <li><a onclick="alert('Blog belum tersedia!')">Blog</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer newsletter">
                                    <h3>Berlangganan Newsletter</h3>
                                    <p>Subscribe untuk berlangganan Newsletter dari kami...</p>
                                    <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                        <input name="EMAIL" placeholder="Your email address" class="common-input"
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Your email address'" required="" type="email">
                                        <div class="button">
                                            <button class="btn">Subscribe Now! <span class="dir-part"></span></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="left">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="right">
                                <ul>
                                    <li><a href="#">Terms of use</a></li>
                                    <li><a href="#"> Privacy Policy</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->