<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <%- include('./partials/headlink'); %>
    <link rel="stylesheet" href="/assets/css/main2.css" />
</head>

<body>
    <!--[if lte IE 9]> <p class="browserupgrade"> You are using an
            <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade your browser</a> to improve your
            experience and security. </p> <![endif]-->

    <%- include('./partials/header'); %>

    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Pertumbuhan Ekonomi Berkelanjutan</h1>
                        <p>
                            Pertumbuhan ekonomi berkelanjutan adalah salah satu indikator.<br>
                            Indikator ini terbagi ke dalam 4 komponen utama.
                        </p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li>
                            <a href="list">Kembali</a>
                        </li>
                        <!-- <li>
                                        <a href="news-standard.html">Blog</a>
                                    </li>
                                    <li>Job Details</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="job-details section">
        <div class="container">
            <div class="row mb-n5">

                <div class="col-lg-8 col-12">
                    <div class="job-details-inner">
                        <div class="job-details-head row mx-0">
                            <div class="company-logo col-auto">
                                <a href="#" style="border-radius: 4px; overflow: hidden;"><img
                                        src="assets/images/new/icon/sprout.svg" alt="Company Logo" width="60"></a>
                            </div>
                            <div class="salary-type col-auto order-sm-3">
                                <!-- <a href="bookmarked.html" class="d-block btn" style="font-size: 14px;">
                                                <i class="lni lni-envelope"></i>
                                                Apply Letter of Interest</a> -->
                                <button onclick="location.href = 'loi';" id="loi-btn" class="badge badge-success"><i
                                        class="lni lni-envelope"></i> Apply Letter of Interest</button>
                            </div>
                            <div class="content col">
                                <h5 class="title" style="text-transform: capitalize;">Pertumbuhan ekonomi berkelanjutan
                                </h5>
                                <ul class="meta">
                                    <li>
                                        <i class="lni lni-map-marker"></i>
                                        Kabupaten Kubu Raya, Indonesia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-details-body">
                            <h6 class="mb-3">Diskripsi</h6>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, ex
                                iusto! Tenetur iusto dolore amet voluptates esse? Ut debitis perferendis,
                                impedit ullam ea officia sapiente soluta cupiditate molestiae eius enim aut
                                laboriosam, saepe deleniti. Excepturi nobis amet fugit ipsa corrupti!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ratione odit qui
                                inventore maiores labore tenetur earum! Quam eaque, deleniti quibusdam deserunt
                                quos reprehenderit dolor, in quo voluptates maxime nostrum.</p>
                            <h6 class="mb-3 mt-4">Peningkatan Produktifitas</h6>
                            <ul>
                                <li>Peningkatan produktifitas private sector sebesar 166.000 ton/tahun</li>
                                <li>Peningkatan produktifitas smallholder sebesar 38.104 ton/tahun</li>
                                <li>Peningkatan produktifitas hasil hutan kayu sebesar 10.000 ton/tahun</li>
                            </ul>
                            <h6 class="mb-3 mt-4">Sertifikasi Keberlanjutan</h6>
                            <ul>
                                <li>30 private unit tersertifikasi ISPO</li>
                                <li>20 private unit tersertifikasi RSPO
                                </li>
                                <li>30.000 hektar lahan tersertifikasi</li>
                                <li>1.000 unit small holder tersertifikasi ISPO/RSPO</li>
                                <li>7.000 hektar lahan smallholder tersertifikasi</li>
                            </ul>
                            <h6 class="mb-3 mt-4">Investasi Hijau</h6>
                            <ul>
                                <li>Target investasi Rp6,1 T (US$435 juta)</li>
                            </ul>
                            <h6 class="mb-3 mt-4">Business Casses</h6>
                            <ul>
                                <li>10 business cases ter-develop</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="job-details-sidebar">

                        <!-- <div class="sidebar-widget"> <div class="inner"> <div class="row m-n2
                                    button"> <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2"> <a
                                    href="bookmarked.html" class="d-block btn"> <i class="fa fa-heart-o mr-1"></i>
                                    Save Job</a> </div> <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                    <a href="job-details.html" class="d-block btn btn-alt">Apply Now</a> </div>
                                    </div> </div> </div> -->

                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Overview</h6>
                                <ul class="job-overview list-unstyled">
                                    <li>
                                        <strong>Starting:</strong>
                                        1 Maret 2021</li>
                                    <li>
                                        <strong>Total Funding per 2021:</strong>
                                        5</li>
                                    <li>
                                        <strong>Budget Funding per 2021:</strong>
                                        $5.000</li>
                                    <li>
                                        <strong>Lokasi Project:</strong>
                                        Kubu Raya, Indonesia</li>
                                    <li>
                                        <strong>Estimasi:</strong>
                                        5 tahun</li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Lokasi Project</h6>
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe width="100%" height="300" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                        <a href="https://123movies-to.com">123movies old site</a>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 300px;
                                                width: 100%;
                                            }

                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 300px;
                                                width: 100%;
                                            }
                                        </style>
                                        <a href="https://maps-google.github.io/embed-google-map/">embed google map</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal">
                <i class="lni lni-close"></i>
            </button>
            <div class="login-modal-main">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="row">
                            <div class="heading">
                                <h3>Login From Here</h3>
                                <p>Log in to continue your account
                                    <br>
                                    and explore new jobs.</p>
                            </div>
                            <div class="social-login">
                                <ul>
                                    <li>
                                        <a class="linkedin" href="#">
                                            <i class="lni lni-linkedin-original"></i>
                                            Log in with LinkedIn</a>
                                    </li>
                                    <li>
                                        <a class="google" href="#">
                                            <i class="lni lni-google"></i>
                                            Log in with Google</a>
                                    </li>
                                    <li>
                                        <a class="facebook" href="#">
                                            <i class="lni lni-facebook-original"></i>
                                            Log in with Facebook</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="or-devider">
                                <span>Or</span>
                            </div>
                            <form action="/">
                                <div class="form-group">
                                    <label for="email" class="label">E-mail</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault" />
                                        <label class="form-check-label" for="flexCheckDefault">Remember password</label>
                                    </div>
                                    <a href="" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                                </div>
                                <div class="form-group mb-8 button">
                                    <button class="btn ">Log in
                                    </button>
                                </div>
                                <p class="text-center create-new-account">Don’t have an account?
                                    <a href="#">Create a free account</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal">
                <i class="lni lni-close"></i>
            </button>
            <div class="login-modal-main">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="row">
                            <div class="heading">
                                <h3>Create a free Account
                                    <br>
                                    Today</h3>
                                <p>Create your account to continue
                                    <br>
                                    and explore new jobs.</p>
                            </div>
                            <div class="social-login">
                                <ul>
                                    <li>
                                        <a class="linkedin" href="#">
                                            <i class="lni lni-linkedin-original"></i>
                                            Import from LinkedIn</a>
                                    </li>
                                    <li>
                                        <a class="google" href="#">
                                            <i class="lni lni-google"></i>
                                            Import from Google</a>
                                    </li>
                                    <li>
                                        <a class="facebook" href="#">
                                            <i class="lni lni-facebook-original"></i>
                                            Import from Facebook</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="or-devider">
                                <span>Or</span>
                            </div>
                            <form action="/">
                                <div class="form-group">
                                    <label for="email" class="label">E-mail</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <label class="form-check-label" for="flexCheckDefault">Agree to the
                                            <a href="#">Terms & Conditions</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-8 button">
                                    <button class="btn ">Sign Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer'); %>

    <%- include('./partials/footlink'); %>

</body>

</html>