<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <%- include('./partials/headlink'); %>
    <link rel="stylesheet" href="/assets/css/main2.css" />
</head>

<body>
    <!--[if lte IE 9]> <p class="browserupgrade"> You are using an
            <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade your browser</a> to improve your
            experience and security. </p> <![endif]-->
    <%- include('./partials/header'); %>

    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Kriteria Dan Indikator
                            <br>Pertumbuhan Hijau</h1>
                        <p>
                            Kelima dimensi kriteria pertumbuhan ekonomi hijau yang digunakan
                            <br>sesuai dengan konteks dan keterkaitan antar dimensi di Indonesia.
                        </p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li>
                            <a href="/">Kembali</a>
                        </li>
                        <!-- <li>Browse Job</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="find-job section">
        <!-- <div class="search-job"> <div class="container"> <div class="search-nner">
                    <div class="row"> <div class="col-lg-5 col-md-5 col-xs-12"> <input type="text"
                    class="form-control" placeholder="Keyword: Name, Tag"> </div> <div
                    class="col-lg-5 col-md-5 col-xs-12"> <input type="text" class="form-control"
                    placeholder="Location: City, State, Zip"> </div> <div class="col-lg-2 col-md-2
                    col-xs-12 button"> <button type="submit" class="btn btn-common
                    float-right">Filter</button> </div> </div> </div> </div> </div> -->
        <div class="container">
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-6 col-12">

                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/new/icon/sprout.svg" alt="#" width="60">
                            </div>
                            <div class="job-content">
                                <h4>
                                    <a>Pertumbuhan Ekonomi Berkelanjutan</a>
                                </h4>
                                <p>
                                    Pertumbuhan ekonomi berkelanjutan, kriteria ini disusun dari empat indikator
                                    capaian.
                                </p>
                                <ul>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        produktifitas
                                    </li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        sertifikasi</li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        investasi</li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        cases</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li>
                                        <a href="detail-indikator">Detail</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/new/icon/zero-emission.svg" alt="#" width="60">
                            </div>
                            <div class="job-content">
                                <h4>
                                    <a>Pengurangan Emisi Gas Rumah Kaca</a>
                                </h4>
                                <p>
                                    Pengurangan emisi gas rumah kaca, kriteria ini tersusun atas empat indikator.
                                </p>
                                <ul>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        emisi
                                    </li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        deforestasi/degradasi</li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        karhutla</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li>
                                        <a href="detail-indikator">Detail</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/new/icon/defense.svg" alt="#">
                            </div>
                            <div class="job-content">
                                <h4>
                                    <a>Ketahanan Sosial, Ekonomi dan Lingkungan</a>
                                </h4>
                                <p>Ketahanan sosial, ekonomi dan lingkungan, kriteria ini terdiri dari dua
                                    indikator.
                                </p>
                                <ul>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        GAP
                                    </li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        legalitas smallholder</li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        IDM</li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        institusi</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li>
                                        <a>Detail</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">

                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/new/icon/fair.svg" alt="#" width="60">
                            </div>
                            <div class="job-content">
                                <h4>
                                    <a>Pertumbuhan yang Inklusif
                                        dan Adil</a>
                                </h4>
                                <p>Pertumbuhan yang inklusif dan adil, kriteria ini disusun dari dua indikator
                                    capaian.
                                </p>
                                <ul>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        rantai pasok
                                    </li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        pelibatan stakeholder</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li>
                                        <a href="detail-indikator">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/new/icon/ecological.svg" alt="#" width="60">
                            </div>
                            <div class="job-content">
                                <h4>
                                    <a>Ekosistem yang Sehat dan
                                        Produktif</a>
                                </h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35
                                    appointments per week. All leads are pre-scheduled.
                                </p>
                                <ul>
                                    <li>
                                        <i class="lni lni-checkmark"></i>

                                        legalitas perlindungan
                                    </li>
                                    <li>
                                        <i class="lni lni-checkmark"></i>
                                        kerangka regulasi</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li>
                                        <a href="detail-indikator">Detail</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal">
                <i class="lni lni-close"></i>
            </button>
            <div class="login-modal-main">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="row">
                            <div class="heading">
                                <h3>Login From Here</h3>
                                <p>Log in to continue your account
                                    <br>
                                    and explore new jobs.</p>
                            </div>
                            <div class="social-login">
                                <ul>
                                    <li>
                                        <a class="linkedin" href="#">
                                            <i class="lni lni-linkedin-original"></i>
                                            Log in with LinkedIn</a>
                                    </li>
                                    <li>
                                        <a class="google" href="#">
                                            <i class="lni lni-google"></i>
                                            Log in with Google</a>
                                    </li>
                                    <li>
                                        <a class="facebook" href="#">
                                            <i class="lni lni-facebook-original"></i>
                                            Log in with Facebook</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="or-devider">
                                <span>Or</span>
                            </div>
                            <form action="/">
                                <div class="form-group">
                                    <label for="email" class="label">E-mail</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault" />
                                        <label class="form-check-label" for="flexCheckDefault">Remember password</label>
                                    </div>
                                    <a href="" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                                </div>
                                <div class="form-group mb-8 button">
                                    <button class="btn ">Log in
                                    </button>
                                </div>
                                <p class="text-center create-new-account">Don’t have an account?
                                    <a href="#">Create a free account</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal">
                <i class="lni lni-close"></i>
            </button>
            <div class="login-modal-main">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="row">
                            <div class="heading">
                                <h3>Create a free Account
                                    <br>
                                    Today</h3>
                                <p>Create your account to continue
                                    <br>
                                    and explore new jobs.</p>
                            </div>
                            <div class="social-login">
                                <ul>
                                    <li>
                                        <a class="linkedin" href="#">
                                            <i class="lni lni-linkedin-original"></i>
                                            Import from LinkedIn</a>
                                    </li>
                                    <li>
                                        <a class="google" href="#">
                                            <i class="lni lni-google"></i>
                                            Import from Google</a>
                                    </li>
                                    <li>
                                        <a class="facebook" href="#">
                                            <i class="lni lni-facebook-original"></i>
                                            Import from Facebook</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="or-devider">
                                <span>Or</span>
                            </div>
                            <form action="/">
                                <div class="form-group">
                                    <label for="email" class="label">E-mail</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <label class="form-check-label" for="flexCheckDefault">Agree to the
                                            <a href="#">Terms & Conditions</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-8 button">
                                    <button class="btn ">Sign Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer'); %>

    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <%- include('./partials/footlink'); %>
</body>

</html>